{{template "base" .}}

{{ define "content"}}
<div class="p-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">About</h1>
    <p class="text-gray-700">
      We are a dedicated team passionate about creating innovative solutions. 
      Our mission is to empower businesses with cutting-edge technology that drives growth and efficiency.
    </p>
  </div>
{{ end}}